.ant-drawer-mask {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.ant-drawer-title {
    font-family: Aeonik-Medium;
    font-size: 14px;
}

.anticon-close{
    font-family: Aeonik-Bold !important;
    font-size: 12px;
    color: black;
}

.ant-drawer-header {
    border: none !important;
}

.ant-drawer-body{
    padding-top: 0px !important;
}

.recipient-wrapper{
    border-color: #4C5FD0;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 4px;
    background-color: #4ca0d02a;
    padding: 6px 8px 8px;
    margin-top: 8px;
}

.line-item-cell{
    font-family: Aeonik-Regular;
    font-size: 12px; 
    text-align: right;
    padding-right: 15px;
}

.line-header-cell{
    color: #606074;
}

.ant-select{
    font-family: Aeonik-Bold !important;
}

.ant-select.ant-select-focused.ant-select-single.ant-select-show-arrow.ant-select-open{
    font-family: Aeonik-Bold !important;
}

.ant-select-selector{
    border-radius: 4px !important;
}

textarea.ant-input {
    margin-top: 5px !important;
    border-radius: 4px !important;
    font-family: Aeonik-Medium;
    resize: none;
}

.ant-picker-input {
    font-family: Aeonik-Medium !important;
}

div.ant-picker {
    border-radius: 4px !important;
}

.ant-input {
    border-radius: 4px !important;
}

.line-item-cell .ant-input {
    padding: 4px !important;
}

.ant-btn-icon-only {
    padding : 0px !important;
    border : none;
    outline: none;
    background-color: white;
}

.ant-btn[disabled] {
    background-color: white !important;
    color : rgba(0, 0, 0, 1);
} 

.anticon-close:hover{
    color: #4C5FD0 !important;
}

.center-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-vertical{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ant-drawer-body{
    overflow: hidden;
}
