.logo {
  height: 32px;
  margin: 16px 16px 128px;
  background: rgba(255, 255, 255, 0.3);
}

.menu-theme {
  font-family: Aeonik-Light;
  letter-spacing: 2.5px;
  font-size: 14px !important;
  color: black !important;
}

.left-sidebar {
  min-width: 225px !important;
}

.right-sidebar {
  min-width: 325px !important;
  /* background: #F4F4FA !important; */
}

.site-layout-background {
  background: #001CF9 !important;
}

.site-layout-content {
  background: #EEF0F5;
  padding: 32px 24px;
}

.ant-menu-item.ant-menu-item{
  margin-bottom: 25px !important;
}

.ant-menu-item.ant-menu-item-selected {
  background: transparent !important;
  color:#1A30E5 !important;
  font-family: Aeonik-Regular;
}

.ant-menu-item.ant-menu-item-active{
  color:#1A30E5 !important;
  font-family: Aeonik-Regular;
}

@font-face {
  font-family: 'Aeonik-Air';
  src: url(./fonts/Aeonik-Air.otf);
}

@font-face {
  font-family: 'Aeonik-AirItalic';
  src: url(./fonts/Aeonik-AirItalic.otf);
}

@font-face {
  font-family: 'Aeonik-Black';
  src: url(./fonts/Aeonik-Black.otf);
}

@font-face {
  font-family: 'Aeonik-BlackItalic';
  src: url(./fonts/Aeonik-BlackItalic.otf);
}

@font-face {
  font-family: 'Aeonik-Bold';
  src: url(./fonts/Aeonik-Bold.otf);
}

@font-face {
  font-family: 'Aeonik-BoldItalic';
  src: url(./fonts/Aeonik-BoldItalic.otf);
}

@font-face {
  font-family: 'Aeonik-Light';
  src: url(./fonts/Aeonik-Light.otf);
}

@font-face {
  font-family: 'Aeonik-LightItalic';
  src: url(./fonts/Aeonik-LightItalic.otf);
}

@font-face {
  font-family: 'Aeonik-Medium';
  src: url(./fonts/Aeonik-Medium.otf);
}

@font-face {
  font-family: 'Aeonik-MediumItalic';
  src: url(./fonts/Aeonik-MediumItalic.otf);
}

@font-face {
  font-family: 'Aeonik-Regular';
  src: url(./fonts/Aeonik-Regular.otf);
}

@font-face {
  font-family: 'Aeonik-RegularItalic';
  src: url(./fonts/Aeonik-RegularItalic.otf);
}

@font-face {
  font-family: 'Aeonik-Thin';
  src: url(./fonts/Aeonik-Thin.otf);
}

@font-face {
  font-family: 'Aeonik-ThinItalic';
  src: url(./fonts/Aeonik-ThinItalic.otf);
}