.logo {
  margin: 32px 16px 64px;
  width: 100%;
}

body{
  overflow-y: hidden;
}

.ant-layout-sider-children{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-theme {
  font-family: Aeonik-Regular;
  letter-spacing: 2.5px;
  font-size: 14px !important;
  color: black !important;
}

.left-sidebar {
  min-width: 225px !important;
}

.right-sidebar {
  min-width: 325px !important;
  /* background: #F4F4FA !important; */
}

.site-layout-background {
  background: #001CF9 !important;
}

.site-layout-content {
  background: #EEF0F5;
  padding: 32px 24px;
}

.ant-menu-item.ant-menu-item{
  margin-bottom: 25px !important;
}

.ant-menu-item.ant-menu-item-selected {
  background: transparent !important;
  color:#1A30E5 !important;
  font-family: Aeonik-Regular;
}

.ant-menu-item.ant-menu-item-active{
  color:#1A30E5 !important;
  font-family: Aeonik-Regular;
}

.anticon{
  margin: 0px !important;
}

.support-wrapper{
  height: 125px;
  width: '100%';
  background-color:#E2E7FF;
  margin-top: -25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 12px;
  text-align: center;
}

.email-button{
  border: 0.5px solid blue !important;
  border-radius: 8px !important;
  color: blue !important;
  background-color: transparent !important;
  font-family: Aeonik-Regular !important;
  font-size: 14px !important;
  padding-left: 32px !important;
  padding-right: 32px !important;
}

@font-face {
  font-family: 'Aeonik-Air';
  src: url(./assets/fonts/Aeonik-Air.otf);
}

@font-face {
  font-family: 'Aeonik-AirItalic';
  src: url(./assets/fonts/Aeonik-AirItalic.otf);
}

@font-face {
  font-family: 'Aeonik-Black';
  src: url(./assets/fonts/Aeonik-Black.otf);
}

@font-face {
  font-family: 'Aeonik-BlackItalic';
  src: url(./assets/fonts/Aeonik-BlackItalic.otf);
}

@font-face {
  font-family: 'Aeonik-Bold';
  src: url(./assets/fonts/Aeonik-Bold.otf);
}

@font-face {
  font-family: 'Aeonik-BoldItalic';
  src: url(./assets/fonts/Aeonik-BoldItalic.otf);
}

@font-face {
  font-family: 'Aeonik-Light';
  src: url(./assets/fonts/Aeonik-Light.otf);
}

@font-face {
  font-family: 'Aeonik-LightItalic';
  src: url(./assets/fonts/Aeonik-LightItalic.otf);
}

@font-face {
  font-family: 'Aeonik-Medium';
  src: url(./assets/fonts/Aeonik-Medium.otf);
}

@font-face {
  font-family: 'Aeonik-MediumItalic';
  src: url(./assets/fonts/Aeonik-MediumItalic.otf);
}

@font-face {
  font-family: 'Aeonik-Regular';
  src: url(./assets/fonts/Aeonik-Regular.otf);
}

@font-face {
  font-family: 'Aeonik-RegularItalic';
  src: url(./assets/fonts/Aeonik-RegularItalic.otf);
}

@font-face {
  font-family: 'Aeonik-Thin';
  src: url(./assets/fonts/Aeonik-Thin.otf);
}

@font-face {
  font-family: 'Aeonik-ThinItalic';
  src: url(./assets/fonts/Aeonik-ThinItalic.otf);
}